<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Memorize"
        tools:targetApi="31">
        <activity
            android:name=".FlashcardListActivity"
            android:exported="false" />
        <activity
            android:name=".Intent"
            android:exported="false" />
        <activity
            android:name=".StandardFlashcardsActivity"
            android:exported="false" />
        <activity
            android:name=".QuizzesActivity"
            android:exported="false" />
        <activity
            android:name=".RevisionActivity"
            android:exported="false" />
        <activity
            android:name=".CollectionDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".RankingAdapter"
            android:exported="false" />
        <activity
            android:name=".RankingActivity"
            android:exported="false" />
        <activity
            android:name=".OpenRevisionActivity"
            android:exported="false" />
        <activity
            android:name=".AddQuizActivity"
            android:exported="false" />
        <activity
            android:name=".QuizActivity"
            android:exported="false" />
        <activity
            android:name=".ReviewActivity"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>